#colonneGauche{
	background-color: grey;
	height: 750px;
}

#map {
        height: 750px;
        width: 100%;
       }

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}


